html {background-color: #282c34}


.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  border: 5px solid #FFFF00;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: gainsboro;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* TODO: Move to another css file. */
.App-products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
